.bottomNav {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  height: 74px;
  background: var(--header-bg);
  border-top: 1px solid var(--hover-bg);
  display: flex;
  justify-content: space-around;
  align-items: center;
  z-index: 60;
}

.bottomNav a {
  display: flex;
  flex-direction:  column;
  align-items: center;
  gap: 4px;
  font-size: .8rem;
  text-decoration: none;
  color: var(--muted);
}

.bottomNav a svg {
  font-size: 1.55rem;
  color: var(--icon);
}

.bottomNav a.active {
  color: var(--accent); 
}

.bottomNav a.active svg {
  color: var(--accent);
} 

/* Desktop: remove completely */
@media (min-width: 769px) {
  .bottomNav {
    display: none;
  }
}
